#main .right .content {
  margin: 0 auto;
  width: 700px; }
  #main .right .content .mainView {
    float: left;
    width: 560px;
    height: 560px;
    border-radius: 10px 0 0 10px;
    background-color: rgba(85, 102, 119, 0.5); }
  #main .right .content .showView {
    float: right;
    width: 140px;
    height: 560px;
    border-radius: 0 10px 10px 0;
    background-color: rgba(17, 34, 51, 0.5); }
    #main .right .content .showView .radioFrame {
      position: relative;
      margin: 20px 0 10px 10px;
      width: 122.5px; }
      #main .right .content .showView .radioFrame .radio input {
        vertical-align: middle;
        margin-bottom: 4px;
        width: 25px;
        height: 25px; }
      #main .right .content .showView .radioFrame .radio span {
        margin-left: 5px;
        font-size: 20px;
        line-height: 35px; }
      #main .right .content .showView .radioFrame .radio:last-child {
        margin-top: 20px; }
      #main .right .content .showView .radioFrame .radioPVE {
        position: relative;
        margin-top: 10px;
        margin-left: 10px;
        width: 105px;
        height: 35px; }
        #main .right .content .showView .radioFrame .radioPVE input {
          margin: 5px;
          width: 20px;
          height: 20px;
          line-height: 20px; }
        #main .right .content .showView .radioFrame .radioPVE span {
          margin-left: 0;
          vertical-align: top;
          font-size: 16px;
          line-height: 29px; }
    #main .right .content .showView .button {
      text-align: center;
      margin: 20px auto;
      width: 112px;
      height: 52.5px;
      font-size: 24px;
      color: #fff;
      text-shadow: 2px 2px 2px #000;
      line-height: 52.5px;
      border-radius: 20px;
      background-color: rgba(51, 68, 85, 0.85);
      -webkit-box-shadow: 2px 2px 2px #000;
      box-shadow: 2px 2px 2px #000;
      cursor: pointer; }
    #main .right .content .showView .startButton {
      margin: 40px auto 20px; }
    #main .right .content .showView .showHistory {
      display: none; }
    #main .right .content .showView .inGame {
      display: none;
      margin: 20px auto;
      padding-right: 3px;
      width: 122.5px;
      border: 1px solid #ccc;
      border-radius: 10px;
      text-align: center; }
      #main .right .content .showView .inGame .showInfo {
        margin-top: 10px;
        font-size: 16px;
        color: #fff; }
      #main .right .content .showView .inGame .disabled {
        color: #ccc;
        text-shadow: 1px 1px 0px rgba(204, 204, 204, 0.5);
        background-color: rgba(160, 170, 180, 0.85); }
  @media only screen and (max-width: 800px) {
    #main .right .content {
      width: 272px; }
      #main .right .content .mainView {
        width: 272px;
        height: 272px;
        border-radius: 15px 15px 0 0; }
      #main .right .content .showView {
        width: 272px;
        height: 102px;
        border-radius: 0 0 15px 15px; }
        #main .right .content .showView .radioFrame {
          position: relative;
          float: left;
          margin-left: 12px;
          margin-top: 10px;
          width: 68px; }
          #main .right .content .showView .radioFrame .radio input {
            margin-bottom: 0;
            width: 12px;
            height: 12px;
            vertical-align: middle; }
          #main .right .content .showView .radioFrame .radio span {
            margin-left: 5px;
            font-size: 12px;
            vertical-align: middle;
            line-height: 17px; }
          #main .right .content .showView .radioFrame .radio:last-child {
            margin-top: 10px; }
          #main .right .content .showView .radioFrame .radioPVE {
            margin-top: 5px;
            margin-left: 5px;
            width: 68px;
            height: 17px; }
            #main .right .content .showView .radioFrame .radioPVE input {
              margin: 0;
              width: 8px;
              height: 8px; }
            #main .right .content .showView .radioFrame .radioPVE span {
              font-size: 10px;
              margin-left: 5px;
              line-height: 11px;
              vertical-align: middle; }
        #main .right .content .showView .button {
          text-align: center;
          float: right;
          width: 59.5px;
          height: 30.6px;
          font-size: 11px;
          text-shadow: 2px 2px 2px #000;
          line-height: 30.6px;
          border-radius: 15.3px; }
        #main .right .content .showView .startButton {
          margin-top: 18.7px;
          margin-right: 30.6px; }
        #main .right .content .showView .inGame {
          float: right;
          margin-top: 15px;
          margin-right: 10px;
          width: 85px;
          border: 2px solid #ccc;
          border-radius: 10px; }
          #main .right .content .showView .inGame .showInfo {
            margin-top: 6px;
            font-size: 12px; }
          #main .right .content .showView .inGame .button {
            float: right;
            margin: 10px 3.4px 5px;
            width: 34px;
            height: 25.5px;
            font-size: 10px;
            line-height: 25.5px;
            border-radius: 12.75px; }
        #main .right .content .showView .mobileStyle {
          float: left;
          margin: 17px 3.4px 0 8.5px;
          width: 42.5px;
          height: 27.2px;
          font-size: 9px;
          line-height: 27.2px;
          border-radius: 13.6px; } }

/*# sourceMappingURL=gobang.css.map */
