@import "../mixin.scss";

#main{
  .right{
    .content{
      position: relative;
      margin: 50px auto 0;
      width: 530px;
      height: 415px;
      @media only screen and (max-width: 1000px){
        width: 100%;
        height: 0;
        padding-bottom: 40%;
      }
      border-radius: 5px;
      background: -webkit-linear-gradient(rgba(#123,0.8), rgba(#567,0.8));
      background: -o-linear-gradient(rgba(#123,0.8), rgba(#567,0.8));
      background: linear-gradient(rgba(#123,0.8), rgba(#567,0.8));   
      color: #fff;
      .header{
        position: absolute;
        top: 20px;
        left: 20px;
        @media only screen and (max-width: 1000px){
          top: 40px;
          left: 40px;
          font-size: 48px;
          select{
            width: 160px;
            height: 70px;
            font-size: 48px;
            &:last-child{
              width: 80px;
            }
          }
        }
      }
      .calendar{
        position: absolute;
        top: 60px;
        left: 20px;
        border-collapse:collapse;
        th,td{
          width: 69px;
          border: 1px solid rgba(#fff,0.5);
          text-align: center;
          font-size: 16px;
        }
        th{
          height: 34px;
          background-color: rgba(#fff,0.2);
          color: #000;
          cursor: default;
          &:first-child, &:last-child{
            color: #e02d2d;
          }
        }
        td{
          position: relative;
          height: 49px;
          background-color: rgba(#fff,0.4);
          color: #000;
          font-weight: bold;
          cursor: pointer;
          &:first-child, &:last-child{
            color: #e02d2d;
          }
          &.choose{
            background-color: rgba(#567, 0.8);
            color: #fff;
          }
        }
        @media only screen and (max-width: 1000px){
          top: 140px;
          left: 40px;
          width: 90%;
          th,td{
            font-size: 32px;
          }
          th{
            height: 68px;
          }
          td{
            height: 80px;
          }
        }
      }
    }
  }
}