#start {
  position: relative;
  margin: 135px auto 0;
  width: 400px;
  height: 500px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 6px #bbb;
  box-shadow: 0 0 6px #bbb; }
  @media only screen and (max-width: 800px) {
    #start {
      position: absolute;
      margin-top: 0;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0; } }
  @media only screen and (max-width: 800px) {
    #start {
      -webkit-box-shadow: 0 0 0 #bbb;
      box-shadow: 0 0 0 #bbb; } }
  #start .head {
    position: relative;
    width: 100%;
    height: 65%;
    border-radius: 20px 20px 0 0;
    background-color: #63b;
    background: -webkit-gradient(linear, left top, left bottom, from(#123), to(#567));
    background: linear-gradient(#123, #567);
    text-align: center; }
    @media only screen and (max-width: 800px) {
      #start .head {
        border-radius: 40px 40px 0 0;
        height: 65%; } }
    #start .head .content {
      position: absolute;
      width: 300px;
      left: 50%;
      margin-left: -150px;
      top: 60px; }
      #start .head .content .avatar {
        position: relative;
        margin: 0 auto 20px;
        width: 120px;
        height: 120px; }
        @media only screen and (max-width: 800px) {
          #start .head .content .avatar {
            margin: 0 auto 40px; } }
        #start .head .content .avatar .image-border {
          position: absolute;
          left: 50%;
          margin: -5px 0 0 -60px;
          width: 120px;
          height: 120px;
          border-radius: 50%;
          background-color: #fff; }
        #start .head .content .avatar .image {
          position: absolute;
          left: 50%;
          margin-left: -55px;
          width: 110px;
          height: 110px;
          border-radius: 50%;
          background: #fff url("image/empty.png") 0 0 no-repeat;
          background-size: 100%; }
      @media only screen and (max-width: 800px) {
        #start .head .content {
          width: 100%;
          left: 0%;
          margin-left: 0;
          top: 80px; }
          #start .head .content .avatar {
            position: relative;
            margin: 0 auto 20px;
            width: 120px;
            height: 120px; } }
    @media only screen and (max-width: 800px) and (max-width: 800px) {
      #start .head .content .avatar {
        margin: 0 auto 40px; } }
      @media only screen and (max-width: 800px) {
            #start .head .content .avatar .image-border {
              position: absolute;
              left: 50%;
              margin: -5px 0 0 -60px;
              width: 120px;
              height: 120px;
              border-radius: 50%;
              background-color: #fff; }
            #start .head .content .avatar .image {
              position: absolute;
              left: 50%;
              margin-left: -55px;
              width: 110px;
              height: 110px;
              border-radius: 50%;
              background: #fff url("image/empty.png") 0 0 no-repeat;
              background-size: 100%; } }
      #start .head .content span {
        font-size: 26px;
        color: #fff; }
        @media only screen and (max-width: 800px) {
          #start .head .content span {
            font-size: 24px; } }
      #start .head .content ul {
        margin-top: 10px; }
        @media only screen and (max-width: 800px) {
          #start .head .content ul {
            margin-top: 10px; } }
        #start .head .content ul li {
          display: inline-block;
          margin: 0 20px 0;
          cursor: pointer;
          font-size: 18px;
          color: #fff; }
          #start .head .content ul li:after {
            position: absolute;
            content: '|';
            margin-left: 20px; }
          #start .head .content ul li:nth-child(2):hover::before {
            position: absolute;
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 4px;
            content: '31788666';
            background-color: #fff;
            color: #000;
            padding: 3px 10px;
            margin: 26px 0 0 -34px; }
          #start .head .content ul li:last-child::after {
            content: ''; }
          #start .head .content ul li:last-child:hover::before {
            position: absolute;
            z-index: 15;
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 4px;
            content: '';
            background: #fff url(image/WeChatQRCode.jpg) 0 0 no-repeat;
            background-size: 100%;
            width: 120px;
            height: 120px;
            margin: 24px 0 0 -36px; }
          @media only screen and (max-width: 800px) {
            #start .head .content ul li {
              margin: 0 10px 0;
              font-size: 18px; }
              #start .head .content ul li:after {
                margin-left: 10px; }
              #start .head .content ul li:nth-child(2):hover::before {
                border: 2px solid #ccc;
                border-radius: 20px;
                margin: 30px 0 0 -50px;
                padding: 0 16px; }
              #start .head .content ul li:last-child:hover::before {
                border: 2px solid #ccc;
                border-radius: 20px;
                width: 120px;
                height: 120px;
                margin: 30px 0 0 -30px; } }
  #start .go {
    position: absolute;
    top: 65%;
    left: 50%;
    z-index: 10;
    margin-left: -50px;
    margin-top: -20px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 3px #666;
    box-shadow: 0px 3px 3px #666;
    text-align: center;
    cursor: pointer; }
    #start .go:hover {
      -webkit-transition: .4s;
      transition: .4s;
      margin-left: -75px;
      margin-top: -30px;
      width: 150px;
      height: 60px;
      border-radius: 30px; }
      #start .go:hover span {
        -webkit-transition: .4s;
        transition: .4s;
        font-size: 30px;
        line-height: 60px; }
    #start .go span {
      top: 5px;
      color: #63b;
      font-weight: bold;
      font-size: 20px;
      line-height: 40px; }
    @media only screen and (max-width: 800px) {
      #start .go {
        top: 65%;
        margin-left: -75px;
        margin-top: -30px;
        width: 150px;
        height: 60px;
        border-radius: 30px; }
        #start .go:hover {
          margin-left: -75px;
          margin-top: -30px;
          width: 150px;
          height: 60px;
          border-radius: 30px; }
          #start .go:hover span {
            font-size: 30px;
            line-height: 60px; }
        #start .go span {
          color: #63b;
          font-size: 30px;
          line-height: 60px; } }
  #start .foot {
    position: relative;
    width: 100%;
    height: 35%;
    border-radius: 0 0 20px 20px;
    background-color: #fff;
    color: #bbb;
    text-align: center; }
    #start .foot .title {
      display: inline-block;
      margin: 40px 0 20px;
      font-size: 30px; }
    #start .foot .content {
      display: inline-block;
      margin-top: 10px;
      font-size: 18px;
      text-align: center; }
    @media only screen and (max-width: 800px) {
      #start .foot {
        height: 35%;
        border-radius: 0 0 40px 40px; }
        #start .foot .title {
          margin: 40px 0 20px;
          font-size: 30px; }
        #start .foot .content {
          margin-top: 10px;
          font-size: 18px; } }

#main {
  display: none;
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg); }
  #main .right #resume {
    margin-bottom: 80px; }
    #main .right #resume h2 {
      font-size: 32px;
      color: #414141; }
    #main .right #resume h4 {
      position: relative;
      margin: 40px 60px 10px;
      color: #454545; }
      #main .right #resume h4::before {
        position: absolute;
        top: 10px;
        left: -60px;
        width: 50px;
        height: 1px;
        background-color: #000;
        content: ''; }
      #main .right #resume h4::after {
        position: absolute;
        top: 10px;
        left: 74px;
        width: 50px;
        height: 1px;
        background-color: #000;
        content: ''; }
    #main .right #resume p {
      margin-bottom: 10px; }
      #main .right #resume p, #main .right #resume p span {
        padding-right: 25px;
        line-height: 24px;
        color: #656464; }
      #main .right #resume p span {
        display: inline-block; }
    #main .right #resume span {
      display: inline-block;
      padding-right: 50px;
      line-height: 24px;
      color: #656464; }
  #main .right #demo {
    margin-bottom: 80px; }
    #main .right #demo h2 {
      font-size: 32px;
      color: #414141; }
    #main .right #demo ul {
      margin: 40px 0 10px; }
      #main .right #demo ul li {
        position: relative;
        display: inline-block;
        margin: 10px 10px 30px;
        width: 240px;
        height: 210px;
        border: 1px solid #ccc;
        border-radius: 4px;
        overflow: hidden;
        -webkit-text-overflow: ellipsis;
        -moz-text-overflow: ellipsis;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis; }
        #main .right #demo ul li a {
          position: absolute;
          width: 100%;
          height: 100%; }
          #main .right #demo ul li a img {
            position: absolute;
            left: 10px;
            top: 10px;
            width: 220px;
            height: 120px;
            border-radius: 4px; }
          #main .right #demo ul li a span {
            position: absolute;
            display: inline-block;
            top: 140px;
            left: 10px;
            width: 210px;
            font-size: 14px;
            line-height: 20px;
            color: #93999f; }
            #main .right #demo ul li a span h4 {
              font-size: 18px;
              margin-bottom: 6px;
              color: #000; }
  #main .right #project {
    margin-bottom: 80px; }
    #main .right #project h2 {
      font-size: 32px;
      color: #414141; }
    #main .right #project h4 {
      position: relative;
      margin: 40px 60px 10px;
      color: #454545; }
      #main .right #project h4::before {
        position: absolute;
        top: 10px;
        left: -60px;
        width: 50px;
        height: 1px;
        background-color: #000;
        content: ''; }
      #main .right #project h4::after {
        position: absolute;
        top: 10px;
        left: 60px;
        width: 50px;
        height: 1px;
        background-color: #000;
        content: ''; }
    #main .right #project ul li {
      border: 1px solid #ccc;
      border-radius: 10px;
      margin-bottom: 10px;
      width: 100%;
      height: 160px; }
      #main .right #project ul li a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 100%; }
        #main .right #project ul li a img {
          border-radius: 5px;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 140px;
          flex: 0 0 140px;
          width: 140px;
          height: 140px;
          margin: 10px; }
        #main .right #project ul li a .describe {
          -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
          flex: 1 1 auto;
          margin: 10px; }
          #main .right #project ul li a .describe h5 {
            height: 32px;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #000; }
          #main .right #project ul li a .describe span {
            color: #444; }
  @media only screen and (max-width: 800px) {
    #main .right {
      overflow: hidden; }
      #main .right #resume {
        margin-bottom: 40px; }
        #main .right #resume h2 {
          font-size: 28px; }
        #main .right #resume h4 {
          margin: 20px 40px 10px 30px;
          font-size: 20px;
          color: #454545; }
          #main .right #resume h4::before {
            top: 12px;
            left: -30px;
            width: 20px; }
          #main .right #resume h4::after {
            top: 12px;
            left: 80px;
            width: 20px; }
        #main .right #resume p {
          margin-bottom: 0; }
          #main .right #resume p, #main .right #resume p span {
            padding-right: 25px;
            line-height: 30px;
            font-size: 16px; }
        #main .right #resume span {
          padding: 0 18px 0 0;
          line-height: 20px;
          font-size: 16px; }
      #main .right #demo {
        margin-bottom: 40px; }
        #main .right #demo h2 {
          font-size: 28px;
          color: #414141; }
        #main .right #demo ul {
          margin: 0 10px 10px; }
          #main .right #demo ul li {
            margin: 10px 0 30px;
            width: 100%;
            height: 0;
            overflow: hidden;
            padding-bottom: 89%;
            border: 1px solid #666; }
            #main .right #demo ul li a {
              width: 100%;
              height: 100%; }
              #main .right #demo ul li a img {
                width: 90%;
                height: 57.142857%;
                top: 5%;
                left: 5%; }
              #main .right #demo ul li a span {
                top: 65%;
                width: 90%;
                left: 5%;
                font-size: 18px;
                line-height: 22px;
                color: #93999f;
                overflow: hidden;
                text-overflow: ellipsis; }
                #main .right #demo ul li a span h4 {
                  font-size: 22px;
                  line-height: 24px;
                  margin-bottom: 6px; }
      #main .right #project {
        margin-bottom: 0; }
        #main .right #project h2 {
          font-size: 28px; }
        #main .right #project h4 {
          margin: 20px 40px 10px 30px;
          font-size: 20px;
          color: #454545; }
          #main .right #project h4::before {
            top: 12px;
            left: -30px;
            width: 20px; }
          #main .right #project h4::after {
            top: 12px;
            left: 74px;
            width: 20px; }
        #main .right #project ul {
          padding-top: 20px; }
          #main .right #project ul li {
            width: 100%;
            height: 0;
            padding-bottom: 90%;
            margin-bottom: 40px;
            border: 1px solid #666; }
            #main .right #project ul li a {
              width: 100%;
              height: 100%;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column; }
              #main .right #project ul li a img {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 120px;
                flex: 0 0 120px;
                width: 90%;
                margin-top: 3%;
                margin-left: 5%; }
              #main .right #project ul li a .describe {
                -webkit-box-flex: 1;
                -ms-flex: 1 1 auto;
                flex: 1 1 auto; }
                #main .right #project ul li a .describe h5 {
                  font-size: 22px;
                  line-height: 24px;
                  margin-bottom: 0px; }
                #main .right #project ul li a .describe span {
                  top: 65%;
                  width: 100%;
                  left: 5%;
                  font-size: 20px;
                  line-height: 24px;
                  color: #93999f; } }

/*# sourceMappingURL=index.css.map */
