@import "./mixin.scss";

*{
  margin: 0;
  padding: 0;
  font-family: 'Microsoft Yahei';
  ul{
    list-style: none;
  }
  a, a:link, a:visited, a:hover, a:active{
    text-decoration:none;
    color: #fff;
  } 
}

body{
  background: #fff url(image/background.jpg) 0 0 no-repeat;
  background-size: 100%;
}

#star{
  position: relative;
  width: 100%;
  height: 100%;
  @media screen and (min-width: 1000px){
    margin: 135px auto;
    width: 400px;
    height: 500px;
  };
  border-radius: 20px;
  box-shadow: 0px 0px 6px #bbb;
  .head{
    position: relative;
    width: 100%;
    height: 65%;
    border-radius: 20px 20px 0 0;
    background-color: #63b;
    background: -webkit-linear-gradient(#63b, #5df); 
    background: -moz-linear-gradient(#63b, #5df); 
    background: -o-linear-gradient(#63b, #5df); 
    background: linear-gradient(#63b, #5df);
    text-align: center;
    .content{
      position: absolute;
      width: 300px;
      left: 50%;
      margin-left: -150px;
      top: 60px;
      @include avatar();
      span{
        font-size: 26px;
        color: #fff;
      }
      ul{
        margin-top: 10px;
        li{
          display: inline-block;
          margin: 0 20px 0;
          cursor: pointer;
          font-size: 18px;
          color: #fff;
          &:after{
            position: absolute;
            content: '|';
            margin-left: 20px;
          }
          &:nth-child(2):hover::before{
            position: absolute;
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 4px;
            content: '31788666';
            margin: 24px 0 0 -28px;
          }
          &:last-child::after{
            content: '';
          }
          &:last-child:hover::before{
            position: absolute;
            z-index: 15;
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 4px;
            content: '1';
            background: #fff url(image/WeChatQRCode.jpg) 0 0 no-repeat;
            background-size: 100%;
            width: 120px;
            height: 120px;
            margin: 24px 0 0 -36px;
          }
        }
      }
    }
  }
  .go{
    position: absolute;
    top: 65%;
    left: 50%;
    margin-left: -50px;
    margin-top: -20px;
    z-index: 10;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 3px #666;
    box-shadow: 0px 3px 3px #666;
    text-align: center;
    cursor: pointer;
    span{
      top: 5px;
      color: #63b;
      font-weight: bold;
      font-size: 20px;
      line-height: 40px;
    }
  }
  .go:hover{
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    margin-left: -75px;
    margin-top: -30px;
    width: 150px;
    height: 60px;
    border-radius: 30px;
    span{
      -webkit-transition: .4s;
      -moz-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      font-size: 30px;
      line-height: 60px;
    }
  }
  .foot{
    position: relative;
    width: 100%;
    height: 35%;
    border-radius: 0 0 20px 20px;
    background-color: #fff;
    color:#bbb;
    text-align: center;
    .title{
      display: inline-block;
      margin: 40px 0 20px;
      font-size: 30px;
    }
    .content{
      display: inline-block;
      margin-top: 10px;
      font-size: 18px;
      text-align: center;
    }
  }
}

#main{
  position: absolute;
  border-radius: 40px;
  -webkit-box-shadow: 0px 0px 8px #666;
  box-shadow: 0px 0px 8px #666;
  -webkit-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
  .left{
    flex: 1 1 auto;
    position: relative;
    min-width: 280px;
    border-radius: 40px 0 0 40px;
    background-color: rgba(#123,0.75);
    @include avatar(80px,50px,20px);
    .own{
      @include leftUl;
    }
    .link{
      @include leftUl(true);
    }
  }
  .right{
    flex: 50 1 auto;
    border-radius: 0 40px 40px 0;
    background-color: #ddd;
  }
}