@import "./mixin.scss";

#star{
  position: relative;
  margin: 135px auto 0;
  width: 400px;
  height: 500px;
  @media only screen and (max-width: 1000px){
    position: absolute;
    margin-top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  };
  border-radius: 20px;
  box-shadow: 0px 0px 6px #bbb;
  .head{
    position: relative;
    width: 100%;
    height: 65%;
    border-radius: 20px 20px 0 0;
    background-color: #63b;
    background: -webkit-linear-gradient(#123, #567); 
    background: -moz-linear-gradient(#123, #567); 
    background: -o-linear-gradient(#123, #567); 
    background: linear-gradient(#123, #567);
    text-align: center;
    @media only screen and (max-width: 1000px){
      border-radius: 40px 40px 0 0;
      height: 65%;
    }
    .content{
      position: absolute;
      width: 300px;
      left: 50%;
      margin-left: -150px;
      top: 60px;
      @include avatar();
      @media only screen and (max-width: 1000px){
        width: 800px;
        left: 50%;
        margin-left: -400px;
        top: 320px;
        @include avatar(240px);
      }
      span{
        font-size: 26px;
        @media only screen and (max-width: 1000px){
          font-size: 72px;
        }
        color: #fff;
      }
      ul{
        margin-top: 10px;
        @media only screen and (max-width: 1000px){
          margin-top: 30px;
        }
        li{
          display: inline-block;
          margin: 0 20px 0;
          cursor: pointer;
          font-size: 18px;
          color: #fff;
          &:after{
            position: absolute;
            content: '|';
            margin-left: 20px;
          }
          &:nth-child(2):hover::before{
            position: absolute;
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 4px;
            content: '31788666';
            background-color: #fff;
            color: #000;
            padding: 3px 10px;
            margin: 26px 0 0 -34px;
          }
          &:last-child::after{
            content: '';
          }
          &:last-child:hover::before{
            position: absolute;
            z-index: 15;
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 4px;
            content: '';
            background: #fff url(image/WeChatQRCode.jpg) 0 0 no-repeat;
            background-size: 100%;
            width: 120px;
            height: 120px;
            margin: 24px 0 0 -36px;
          }
          @media only screen and (max-width: 1000px){
            margin: 0 30px 0;
            font-size: 54px;
            &:nth-child(2):hover::before{
              border: 2px solid #ccc;
              border-radius: 20px;
              margin: 80px 0 0 -90px;
              padding: 0 16px;
            }
            &:last-child:hover::before{
              border: 2px solid #ccc;
              border-radius: 20px;
              width: 360px;
              height: 360px;
              margin: 80px 0 0 -90px;
            }
          }
        }
      }
    }
  }

  .go{
    position: absolute;
    top: 65%;
    left: 50%;
    z-index: 10;
    margin-left: -50px;
    margin-top: -20px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 3px #666;
    box-shadow: 0px 3px 3px #666;
    text-align: center;
    cursor: pointer;
    &:hover{
      -webkit-transition: .4s;
      -moz-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      margin-left: -75px;
      margin-top: -30px;
      width: 150px;
      height: 60px;
      border-radius: 30px;
      span{
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        font-size: 30px;
        line-height: 60px;
      }
    }
    span{
      top: 5px;
      color: #63b;
      font-weight: bold;
      font-size: 20px;
      line-height: 40px;
    }

    @media only screen and (max-width: 1000px){
      top: 65%;
      margin-left: -150px;
      margin-top: -60px;
      width: 300px;
      height: 120px;
      border-radius: 60px;
      &:hover{
        margin-left: -225px;
        margin-top: -90px;
        width: 450px;
        height: 180px;
        border-radius: 90px;
        span{
          font-size: 90px;
          line-height: 180px;
        }
      }
      span{
        color: #63b;
        font-size: 60px;
        line-height: 120px;
      }
    }
  }

  .foot{
    position: relative;
    width: 100%;
    height: 35%;
    border-radius: 0 0 20px 20px;
    background-color: #fff;
    color:#bbb;
    text-align: center;
    .title{
      display: inline-block;
      margin: 40px 0 20px;
      font-size: 30px;
    }
    .content{
      display: inline-block;
      margin-top: 10px;
      font-size: 18px;
      text-align: center;
    }
    @media only screen and (max-width: 1000px){
      height: 35%;
      border-radius: 0 0 40px 40px;
      .title{
        margin: 120px 0 60px;
        font-size: 90px;
      }
      .content{
        margin-top: 30px;
        font-size: 54px;
      }
    }
  }
}

#main{
  display: none;
  -webkit-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
  .right{
    #resume{
      margin-bottom: 80px;
      h2{
        font-size: 32px;
        color: #414141;
      }
      h4{
        position: relative;
        margin: 40px 60px 10px;
        color: #454545;
        &::before{
          position: absolute;
          top: 10px;
          left: -60px;
          width: 50px;
          height: 1px;
          background-color: #000;
          content: '';
        }
        &::after{
          position: absolute;
          top: 10px;
          left: 74px;
          width: 50px;
          height: 1px;
          background-color: #000;
          content: '';
        }
      }
      p{
        margin-bottom: 10px;
        &,span{ 
          padding-right:25px;
          line-height: 24px;
          color: #656464;
        }
        span{
          display: inline-block;
        }
      }
      span{
        display: inline-block;
        padding-right:50px;
        line-height: 24px;
        color: #656464;
      }
    }
    #demo{
      margin-bottom: 80px;
      h2{
        font-size: 32px;
        color: #414141;
      }
      ul{
        margin: 40px 0 10px;
        li{
          position: relative;
          display: inline-block;
          margin: 10px 10px 30px;
          width: 240px;
          height: 210px;
          border: 1px solid #ccc;
          border-radius: 4px;
          overflow: hidden;
          -webkit-text-overflow: ellipsis;
          -moz-text-overflow: ellipsis;
          -ms-text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          a{
            position: absolute;
            width: 100%;
            height: 100%;
            img{
              position: absolute;
              left: 10px;
              top: 10px;
              width: 220px;
              height: 120px;
              border-radius: 4px;
            }
            span{
              position: absolute;
              display: inline-block;
              top: 140px;
              left: 10px;
              width: 210px;
              font-size: 14px;
              line-height: 20px;
              color: #93999f;
              h4{
                font-size: 18px;
                margin-bottom: 6px;
                color: #000;
              }
            }
          }
        }
      }
    }
    #Photography{
      margin-bottom: 80px;
      h2{
        font-size: 32px;
        color: #414141;
      }
    }
  }
  
  @media only screen and (max-width: 1000px){
    .right{
      #resume{
        h2{
          font-size: 48px;
        }
        h4{
          margin: 40px 80px 20px;
          font-size: 36px;
          color: #454545;
          &::before{
            top: 34px;
            left: -100px;
            width: 80px;
          }
          &::after{
            top: 34px;
            left: 230px;
            width: 80px;
          }
        }
        p{
          &,span{
            padding-right:25px;
            line-height: 48px;
            font-size: 48px;
          }
        }
        span{
          padding:0 54px 20px 0;
          line-height: 72px;
          font-size: 48px;
        }
      }
      #demo{
        ul{
          li{
            width: 100%;
            height: 0;
            overflow: hidden;
            padding-bottom: 87.5%;
            border: 1px solid #666;
            a{
              width: 100%;
              height: 100%;
              img{
                width: 90%;
                height: 57.142857%;
                top: 5%;
                left: 5%;
              }
              span{
                top: 65%;
                width: 100%;
                left: 5%;
                font-size: 42px;
                line-height: 60px;
                color: #93999f;
                h4{
                  font-size: 54px;
                  line-height: 72px;
                  margin-bottom: 6px;
                }
              }
            }
          }
        }
      }
    }
  }
}