@mixin avatar($length:120px, $top:0, $left:0){
  .avatar{
    position: relative;
    margin: $top auto 20px;
    @media only screen and (max-width: 1000px){
      margin: $top auto 80px;
    }
    width: $length;
    height: $length;
    .image-border{
      position: absolute;
      left: 50%;
      margin: -5px 0 0 ($left - $length / 2);
      width:$length;
      height: $length;
      border-radius: 50%;
      background-color: #fff;
    }
    .image{
      position: absolute;
      left: 50%;
      margin-left: ($left - ($length - 10px) / 2);
      width:$length - 10px;
      height: $length - 10px;
      border-radius: 50%;
      background: #fff url(image/TX.png) 0 0 no-repeat;
      background-size:100%;
    }
  }
}

@mixin leftUl($last:false,$mobile:false){
  margin-top: 40px;
  border-top: 5px solid #ccc;
  @if $last{
    @if $mobile{
      display: none;
    }
    position: absolute;
    bottom: 0;
    width: 100%;
    &::before{
      content:'-link-';
      position: absolute;
      font-family: 16px;
      color: #ccc;
      top: -24px;
      left: 20px;
    };
  }
  li{
    display: block;
    color: #fff;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    cursor: pointer;
    &:nth-child(odd){
      background-color: rgba(#fff,0.3);
    }
    &:hover{
      i,a{
        color: #123;
      }
      background-color: rgba(#fff,0.6);
    }
    i{
      margin: 0 25px 0 40px; 
    }
    @if $mobile{
      height: 120px;
      line-height: 120px;
      font-size: 48px;
      i{
        margin: 0 50px 0 80px; 
      }
    }
  }
}