* {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft Yahei'; }
  * ul {
    list-style: none; }
  * a, * a:link, * a:visited, * a:hover, * a:active {
    text-decoration: none;
    color: #fff; }

body {
  background: #fff url(image/empty.png) 0 0 no-repeat;
  background-size: 100%; }
  @media only screen and (max-width: 1000px) {
    body {
      background: #fff url(image/empty.png) 0 0 no-repeat fixed;
      background-size: 100%; } }

#main {
  position: absolute;
  border-radius: 40px;
  -webkit-box-shadow: 0px 0px 8px #666;
  box-shadow: 0px 0px 8px #666;
  min-height: 700px;
  flex-flow: row; }
  #main .left {
    width: 300px;
    border-radius: 40px 0 0 40px;
    background-color: rgba(17, 34, 51, 0.75); }
    #main .left .avatar {
      position: relative;
      margin: 50px auto 20px;
      width: 80px;
      height: 80px; }
      @media only screen and (max-width: 1000px) {
        #main .left .avatar {
          margin: 50px auto 80px; } }
      #main .left .avatar .image-border {
        position: absolute;
        left: 50%;
        margin: -5px 0 0 -40px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #fff; }
      #main .left .avatar .image {
        position: absolute;
        left: 50%;
        margin-left: -35px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background: #fff url("image/empty.png") 0 0 no-repeat;
        background-size: 100%; }
    #main .left .own {
      margin-top: 40px;
      border-top: 5px solid #ccc;
      overflow-y: scroll; }
      #main .left .own::-webkit-scrollbar {
        position: absolute;
        width: 10px; }
      #main .left .own::-webkit-scrollbar-thumb {
        height: 20px;
        border-radius: 10px;
        background-color: rgba(17, 34, 51, 0.75); }
        #main .left .own::-webkit-scrollbar-thumb:hover {
          background-color: rgba(17, 34, 51, 0.9); }
      #main .left .own li {
        display: inline-block;
        color: #fff;
        line-height: 60px;
        cursor: pointer;
        width: 100%;
        font-size: 24px; }
        #main .left .own li a {
          display: block;
          width: 100%;
          height: 100%; }
        #main .left .own li:nth-child(odd) {
          background-color: rgba(255, 255, 255, 0.3); }
        #main .left .own li:hover {
          background-color: rgba(255, 255, 255, 0.6); }
          #main .left .own li:hover i, #main .left .own li:hover a {
            color: #123; }
        #main .left .own li i {
          margin: 0 25px 0 40px; }
    #main .left .link {
      margin-top: 40px;
      border-top: 5px solid #ccc;
      position: absolute;
      width: 300px;
      bottom: 0; }
      #main .left .link:last-child {
        border-bottom-left-radius: 40px; }
      #main .left .link::before {
        content: '-link-';
        position: absolute;
        font-size: 16px;
        color: #ccc;
        top: -28px;
        left: 20px; }
      #main .left .link li:last-child {
        border-bottom-left-radius: 40px; }
      #main .left .link li {
        display: inline-block;
        color: #fff;
        line-height: 60px;
        cursor: pointer;
        width: 100%;
        font-size: 24px; }
        #main .left .link li a {
          display: block;
          width: 100%;
          height: 100%; }
        #main .left .link li:nth-child(odd) {
          background-color: rgba(255, 255, 255, 0.3); }
        #main .left .link li:hover {
          background-color: rgba(255, 255, 255, 0.6); }
          #main .left .link li:hover i, #main .left .link li:hover a {
            color: #123; }
        #main .left .link li i {
          margin: 0 25px 0 40px; }
  #main .right {
    flex: 1;
    border-radius: 0 40px 40px 0;
    background-color: rgba(243, 245, 247, 0.6);
    padding: 30px 50px;
    overflow-y: scroll; }
    #main .right::-webkit-scrollbar {
      position: absolute;
      width: 10px; }
    #main .right::-webkit-scrollbar-thumb {
      height: 20px;
      border-radius: 10px;
      background-color: rgba(17, 34, 51, 0.75); }
      #main .right::-webkit-scrollbar-thumb:hover {
        background-color: rgba(17, 34, 51, 0.9); }
  @media only screen and (max-width: 1000px) {
    #main {
      position: absolute;
      width: 100%;
      top: 0; }
      #main .left {
        width: 100%;
        border-radius: 40px 40px 0 0;
        padding-top: 100px;
        max-width: 1004px;
        margin-right: 0; }
        #main .left .avatar {
          position: relative;
          margin: 0 auto 20px;
          width: 150px;
          height: 150px; } }
      @media only screen and (max-width: 1000px) and (max-width: 1000px) {
        #main .left .avatar {
          margin: 0 auto 80px; } }
  @media only screen and (max-width: 1000px) {
          #main .left .avatar .image-border {
            position: absolute;
            left: 50%;
            margin: -5px 0 0 -75px;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-color: #fff; }
          #main .left .avatar .image {
            position: absolute;
            left: 50%;
            margin-left: -70px;
            width: 140px;
            height: 140px;
            border-radius: 50%;
            background: #fff url("image/empty.png") 0 0 no-repeat;
            background-size: 100%; }
        #main .left .own {
          margin-top: 40px;
          border-top: 5px solid #ccc;
          overflow: visible; }
          #main .left .own li {
            display: inline-block;
            color: #fff;
            line-height: 60px;
            cursor: pointer;
            width: 100%;
            font-size: 24px;
            height: 120px;
            line-height: 120px;
            font-size: 48px; }
            #main .left .own li a {
              display: block;
              width: 100%;
              height: 100%; }
            #main .left .own li:nth-child(odd) {
              background-color: rgba(255, 255, 255, 0.3); }
            #main .left .own li:hover {
              background-color: rgba(255, 255, 255, 0.6); }
              #main .left .own li:hover i, #main .left .own li:hover a {
                color: #123; }
            #main .left .own li i {
              margin: 0 25px 0 40px; }
            #main .left .own li i {
              margin: 0 50px 0 80px; }
        #main .left .link {
          margin-top: 40px;
          border-top: 5px solid #ccc;
          display: none;
          position: absolute;
          width: 300px;
          bottom: 0; }
          #main .left .link:last-child {
            border-bottom-left-radius: 40px; }
          #main .left .link::before {
            content: '-link-';
            position: absolute;
            font-size: 16px;
            color: #ccc;
            top: -28px;
            left: 20px; }
          #main .left .link li:last-child {
            border-bottom-left-radius: 40px; }
          #main .left .link li {
            display: inline-block;
            color: #fff;
            line-height: 60px;
            cursor: pointer;
            width: 100%;
            font-size: 24px;
            height: 120px;
            line-height: 120px;
            font-size: 48px; }
            #main .left .link li a {
              display: block;
              width: 100%;
              height: 100%; }
            #main .left .link li:nth-child(odd) {
              background-color: rgba(255, 255, 255, 0.3); }
            #main .left .link li:hover {
              background-color: rgba(255, 255, 255, 0.6); }
              #main .left .link li:hover i, #main .left .link li:hover a {
                color: #123; }
            #main .left .link li i {
              margin: 0 25px 0 40px; }
            #main .left .link li i {
              margin: 0 50px 0 80px; }
      #main .right {
        border-radius: 0 0 40px 40px;
        padding: 40px 80px 80px; } }

/*# sourceMappingURL=public.css.map */
