body {
  background: #fff url(./image/background.jpg) 0 0 no-repeat;
  background-size: 100%; }
  @media only screen and (max-width: 1000px) {
    body {
      background: #fff url(./image/background-mobile.jpg) 0 0 no-repeat;
      background-size: 100%; } }

#main .left .avatar {
  position: relative;
  margin: 50px auto 20px;
  width: 80px;
  height: 80px; }
  @media only screen and (max-width: 1000px) {
    #main .left .avatar {
      margin: 50px auto 80px; } }
  #main .left .avatar .image-border {
    position: absolute;
    left: 50%;
    margin: -5px 0 0 -40px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff; }
  #main .left .avatar .image {
    position: absolute;
    left: 50%;
    margin-left: -35px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #fff url("image/TX.png") 0 0 no-repeat;
    background-size: 100%; }
#main .left .own {
  margin-top: 40px;
  border-top: 5px solid #ccc; }
  #main .left .own li {
    position: relative;
    display: inline-block;
    color: #fff;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-indent: 25px; }
    #main .left .own li.choose::after {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      border-width: 30px;
      border-style: solid;
      border-color: transparent #f3f5f7 transparent transparent;
      content: ''; }
    #main .left .own li:nth-child(odd) {
      background-color: rgba(255, 255, 255, 0.3); }
    #main .left .own li:hover {
      background-color: rgba(255, 255, 255, 0.6); }
      #main .left .own li:hover a {
        color: #123; }
@media only screen and (max-width: 1000px) {
  #main {
    position: absolute;
    width: 100%;
    top: 0; }
    #main .left {
      border-radius: 40px 40px 0 0;
      padding-top: 100px;
      max-width: 1004px; }
      #main .left .avatar {
        position: relative;
        margin: 0 auto 20px;
        width: 160px;
        height: 160px; } }
      @media only screen and (max-width: 1000px) and (max-width: 1000px) {
        #main .left .avatar {
          margin: 0 auto 80px; } }
@media only screen and (max-width: 1000px) {
        #main .left .avatar .image-border {
          position: absolute;
          left: 50%;
          margin: -5px 0 0 -80px;
          width: 160px;
          height: 160px;
          border-radius: 50%;
          background-color: #fff; }
        #main .left .avatar .image {
          position: absolute;
          left: 50%;
          margin-left: -75px;
          width: 150px;
          height: 150px;
          border-radius: 50%;
          background: #fff url("../image/TX.png") 0 0 no-repeat;
          background-size: 100%; }
      #main .left .own {
        margin-top: 40px;
        border-top: 5px solid #ccc; }
        #main .left .own li {
          display: inline-block;
          color: #fff;
          line-height: 60px;
          cursor: pointer;
          width: 100%;
          height: 100%;
          font-size: 24px;
          height: 120px;
          line-height: 120px;
          font-size: 48px; }
          #main .left .own li a {
            display: block;
            width: 100%;
            height: 100%; }
          #main .left .own li:nth-child(odd) {
            background-color: rgba(255, 255, 255, 0.3); }
          #main .left .own li:hover {
            background-color: rgba(255, 255, 255, 0.6); }
            #main .left .own li:hover i, #main .left .own li:hover a {
              color: #123; }
          #main .left .own li i {
            margin: 0 25px 0 40px; }
          #main .left .own li i {
            margin: 0 50px 0 80px; }
      #main .left .link {
        margin-top: 40px;
        border-top: 5px solid #ccc;
        display: none;
        position: absolute;
        width: 300px;
        bottom: 0; }
        #main .left .link:last-child {
          border-bottom-left-radius: 40px; }
        #main .left .link::before {
          content: '-link-';
          position: absolute;
          font-family: 16px;
          color: #ccc;
          top: -28px;
          left: 20px; }
        #main .left .link li:last-child {
          border-bottom-left-radius: 40px; }
        #main .left .link li {
          display: inline-block;
          color: #fff;
          line-height: 60px;
          cursor: pointer;
          width: 100%;
          height: 100%;
          font-size: 24px;
          height: 120px;
          line-height: 120px;
          font-size: 48px; }
          #main .left .link li a {
            display: block;
            width: 100%;
            height: 100%; }
          #main .left .link li:nth-child(odd) {
            background-color: rgba(255, 255, 255, 0.3); }
          #main .left .link li:hover {
            background-color: rgba(255, 255, 255, 0.6); }
            #main .left .link li:hover i, #main .left .link li:hover a {
              color: #123; }
          #main .left .link li i {
            margin: 0 25px 0 40px; }
          #main .left .link li i {
            margin: 0 50px 0 80px; }
    #main .right {
      border-radius: 0 0 40px 40px;
      padding: 40px 80px; }
      #main .right #resume h2 {
        font-size: 48px; }
      #main .right #resume h4 {
        margin: 40px 80px 20px;
        font-size: 36px;
        color: #454545; }
        #main .right #resume h4::before {
          top: 34px;
          left: -100px;
          width: 80px; }
        #main .right #resume h4::after {
          top: 34px;
          left: 230px;
          width: 80px; }
      #main .right #resume p, #main .right #resume p span {
        padding-right: 25px;
        line-height: 36px;
        font-size: 36px; }
      #main .right #resume span {
        padding: 0 54px 20px 0;
        line-height: 54px;
        font-size: 36px; } }

/*# sourceMappingURL=publicDemo.css.map */
